<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="../public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>APIs and Microservices 1: Timestamp Microservice</h2>
        <h3>User Stories:</h3>
        <ol class="user-stories"> 
          <li>
            The API endpoint is <code>GET [project_url]/api/timestamp/:date_string?</code>
          </li>
          <li>
            A date string is valid if can be successfully parsed by <code>new Date(date_string)</code>. Note that the Unix timestamp needs to be an **integer** (not a string) specifying **milliseconds**.<br>
            In our test we will use date strings compliant with ISO-8601 (e.g. <code>"2016-11-20"</code>) because this will ensure an UTC timestamp.
          </li>
          <li>
            If the date string is **empty** it should be set to the equivalent of <code>new Date()</code> to get the current timestamp.
          </li>
          <li>
            If the date string is **valid** the API should return a JSON response with the Unix timestamp and UTC string for that date. Example: <code>{"unix": <date.getTime()>, "utc" : <date.toUTCString()> }</code>
          </li>
          <li>
            If the date string is invalid the API should return the following response: <code>{"error" : "Invalid Date" }</code>
          </li>
        </ol>

        <h3>Example Usage:</h3>
        <ul>
          <li><a href="api/timestamp/2015-12-25">
            [project url]/api/timestamp/2015-12-25</a></li>
          <li><a href="api/timestamp/1450137600000">[project url]/api/timestamp/1450137600</a></li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{ "unix": 1451001600000, "utc": "Fri, 25 Dec 2015 00:00:00 GMT" }</code>
        </p>
      </div>
   </body>

</html>
